@-webkit-keyframes pulse {
  0% {
    -webkit-transform: perspective(1px) scale(1);
            transform: perspective(1px) scale(1);
    opacity: 1;
  }
  50% {
    -webkit-transform: perspective(1px) scale(1.1);
            transform: perspective(1px) scale(1.1);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: perspective(1px) scale(1);
            transform: perspective(1px) scale(1);
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: perspective(1px) scale(1);
            transform: perspective(1px) scale(1);
    opacity: 1;
  }
  50% {
    -webkit-transform: perspective(1px) scale(1.1);
            transform: perspective(1px) scale(1.1);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: perspective(1px) scale(1);
            transform: perspective(1px) scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  background-color: #fff;
}

body {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  font-size: 1.3rem;
  font-family: 'Trocchi', serif;
}

.top {
  position: relative;
}

.top .logo {
  width: 100%;
  height: 100%;
  max-width: 800px;
}

.main-info {
  padding: 20px;
  text-align: center;
  color: #802A50;
}

.main-info h1 {
  font-size: 1.5em;
}

.main-info h2 {
  font-size: 2rem;
  padding-top: 15px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.icons a {
  font-size: 4rem;
}

.icons a i {
  cursor: pointer;
  padding: 10px;
  color: #802A50;
}

.icons a i:hover {
  -webkit-animation: rotate 1s;
          animation: rotate 1s;
}

.contactArror {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  font-size: 1.2em;
  color: #802A50;
}

.contactArror i {
  position: relative;
  top: 15px;
  padding: 20px;
  font-size: 1.3em;
  color: #fff;
  background-color: #802A50;
  border-radius: 50%;
  cursor: pointer;
}

.contactArror i:hover {
  -webkit-animation: pulse 1s;
          animation: pulse 1s;
}

.contact-form {
  padding: 30px;
}

.contact-form input[type='text'],
.contact-form select,
.contact-form textarea, .contact-form input[type='email'], .contact-form input[type='phone'] {
  width: 100%;
  padding: 12px;
  border: 2px solid #f7b9b9;
  border-radius: 4px;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  min-height: 40px;
  max-height: 200px;
}

.contact-form input[type='button'] {
  background-color: #802A50;
  color: #fff;
  padding: 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.contact-form input[type='button']:hover {
  -webkit-animation: pulse 1s;
          animation: pulse 1s;
}

.contact-form input[type='text']:focus,
.contact-form textarea:focus, .contact-form input[type='email']:focus, .contact-form input[type='phone']:focus {
  border: 1px solid #802A50;
  outline: #802A50;
}

.contact-form .container {
  border-radius: 5px;
  background-color: #fff;
  padding: 20px;
}

.contact-form label {
  color: #802A50;
}

.contact-form #subject {
  font-family: 'Trocchi', serif;
}

label[for='fname']:after,
[for='email']:after,
[for='subject']:after {
  content: '*';
  color: red;
}

.contact-form {
  background-color: #F2C1D1;
  padding: 10px;
  position: absolute;
  top: 2%;
  z-index: -100;
  max-width: 500px;
}

.shadow {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -100;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.msg {
  position: absolute;
  top: 100px;
  width: 400px;
  height: 150px;
  background-color: #F2C1D1;
  border-radius: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  z-index: -100;
  border: 1px solid black;
}

.msg p {
  font-size: 18px;
  text-align: center;
}

.msg button {
  background-color: #802A50;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.msg button:hover {
  -webkit-animation: pulse 1s;
          animation: pulse 1s;
}
/*# sourceMappingURL=main.css.map */