@keyframes pulse {
	0% {
		transform: perspective(1px) scale(1);
		opacity: 1;
	}

	50% {
		transform: perspective(1px) scale(1.1);
		opacity: 0.5;
	}

	100% {
		transform: perspective(1px) scale(1);
		opacity: 1;
        
	}
}

@keyframes rotate {
	from {
		transform: rotate(0);
	}

	to {
		transform: rotate(360deg);
	}
}

