// font-family: 'Grape Nuts', cursive;
// font-family: 'Headland One', serif;
// font-family: 'Montserrat', sans-serif;
// font-family: 'Trocchi', serif;

@import './animations';
@import './colors';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;

}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	background-color: $white;
}

body {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: start;
	align-items: center;
	flex-direction: column;
	background-color: $white;
	font-size: 1.3rem;
	font-family: 'Trocchi', serif;
}
.top {
	position: relative;
	.logo {
		width: 100%;
		height: 100%;
		max-width: 800px;
	}
}

.main-info {
	padding: 20px;
	text-align: center;
	color: $violet;
	h1 {
		font-size: 1.5em;
	}
	h2 {
		font-size: 2rem;
		padding-top: 15px;
		text-align: center;
		font-family: 'Montserrat', sans-serif;
		font-weight: 400;
	}
}

.icons {
	display: flex;
	padding: 10px;
	justify-content: center;
	width: 30%;
	justify-content: space-evenly;
	a {
		font-size: 4rem;

		i {
			cursor: pointer;
			padding: 10px;
			color: $violet;
		}

		i:hover {
			animation: rotate 1s;
		}
	}
}

.contactArror {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 20px;
	font-size: 1.2em;
	color: $violet;

	i {
		position: relative;
		top: 15px;
		padding: 20px;
		font-size: 1.3em;
		color: $white;
		background-color: $violet;
		border-radius: 50%;
		cursor: pointer;

		&:hover {
			animation: pulse 1s;
		}
	}
}

.contact-form {
	padding: 30px;
	input[type='text'],
	select,
	textarea,input[type='email'] ,input[type='phone'] {
		width: 100%;
		padding: 12px;
		border: 2px solid $pink-three;
		border-radius: 4px;
		margin-top: 6px;
		margin-bottom: 16px;
		resize: vertical;
		min-height: 40px;
		max-height: 200px;
	
	}

	input[type='button'] {
		background-color: $violet;
		color: $white;
		padding: 20px;
		border: none;
		border-radius: 4px;
		cursor: pointer;

		&:hover {
			animation: pulse 1s;
		}
	}

	input[type='text']:focus,
	textarea:focus, input[type='email']:focus ,input[type='phone']:focus{
		border: 1px solid $violet;
		outline: $violet;
	}

	.container {
		border-radius: 5px;
		background-color: $white;
		padding: 20px;
	}

	label {
		color: $violet;
	}

	#subject {
		font-family: 'Trocchi', serif;
	}
}

label[for='fname']:after,
[for='email']:after,
[for='subject']:after {
	content: '*';
	color: red;
}

.contact-form {
	background-color: $pink;
	padding: 10px;
	position: absolute;
	top: 2%;
	z-index: -100;
	max-width: 500px; 
}

.shadow {
	position: absolute;
	width: 100vw;
	height: 100vh;
	z-index: -100;
	// background-color: rgba(167, 162, 162, 0.218);
}

.btn {
	display: flex;
	justify-content: space-evenly;
}

.msg{
	position: absolute;
	top: 100px;
	width: 400px;
	height: 150px;
	background-color: $pink;
	border-radius: 5%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	justify-content: space-around;
	z-index: -100;

	p{
		font-size: 18px;
		text-align: center;
	}

	button{
		background-color: $violet;
		color: $white;
		padding: 10px;
		border: none;
		border-radius: 4px;
		cursor: pointer;

		&:hover {
			animation: pulse 1s;
		}


	}

}


